h1{
	font-family: 'Lobster', cursive;
	font-size:9em;
}

#description{
	margin-left: auto;
    margin-right: auto;
	text-align: center;
	width:40em;
	font-size:2em;
}
.developers{
	margin-left: auto;
    margin-right: auto;
	text-align: center;
	width:100em;
}
h2{
	font-family: 'Lobster', cursive;
	font-size:7em;
}
.authorsnotes{
	float:left; 
	display:inline; 
	width:49%;
	font-size:6em;

}
#images{
	float:left; 
	display:inline; 
	width:49%;
}

