hr
{
	border-bottom: 1px solid #ccc;
}
.carousel-inner h3, .carousel-inner p
{
	color: #000;
	text-shadow: 
    	-1px -1px 0 #FFF,
    	1px -1px 0 #FFF,
    	-1px 1px 0 #FFF,
    	1px 1px 0 #FFF;
}

.form-inline .form-group, .form-inline .checkbox
{
	padding-bottom: 0.7em;
}